html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

div#navbar-left img {
    width: 142px;
    height: 40px;
}
#navbar-right img {
    width: 14px;

  }
p {
    padding-right: 35px;
    font-weight: bold;
    font-size: 0.8em;
    font-weight: 500;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 9px 20px;
 
    border: 2px solid black;
    font-size: 0.8em;
 
}



@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
